<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>Shitflix</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark mb-5">
    <div class="container-xl">

      <a class="navbar-brand fs-3 text-warning fw-bold text-uppercase" href="#">Shitflix</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pelí­culas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mi lista</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Administrar Pelí­culas
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="alta_pelicula.html">Dar de alta una película</a></li>
              <li><a class="dropdown-item" href="modif_pelicula.html">Modificar película</a></li>
              <li><a class="dropdown-item" href="elim_pelicula.html">Eliminar película</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Administrar Usuarios
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="alta_usuario.html">Dar de alta un usuario</a></li>
              <li><a class="dropdown-item" href="baja_usuario.html">Dar de baja un usuario</a></li>
              <li><a class="dropdown-item" href="modif_usuario.html">Modificar usuario</a></li>
              <li><a class="dropdown-item" href="elimin_usuario.html">Eliminar usuario</a></li>
            </ul>
          </li>
        </ul>


        <form class="d-flex text-end py-2">
          <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">

        </form>

        <div class="dropdown d-flex text-end py-2 ">
          <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  <h2 class="d-flex justify-content-center mb-5"><strong>Eliminar usuario</strong></h2>

  <div class="container-fluid d-flex justify-content-center border border-4 rounded-pill border-danger  py-5 ">
    <form class="d-md-inline-block w-50 fw-bold">
      <label class="form-label">Nombre de usuario</label>
      <input class="form-control border me-2 mb-4" type="search" placeholder="Nombre de usuario" aria-label="Search">
      <div class="d-flex justify-content-center p-3">
        <button class="btn btn-danger" type="submit">Eliminar usuario</button>
      </div>

    </form>
  </div>





  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

</body>

</html>