<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <title>Shitflix</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark ">
        <div class="container-xl">

            <a class="navbar-brand fs-3 text-warning fw-bold text-uppercase" href="#">Shitflix</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href={% url 'index' %}>Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'index' %}>Pelí­culas</a>
                    </li>
                    {% if can_add_pelis and can_change_pelis and can_delete_pelis and can_add_users and can_change_users and can_delete_users %}
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'gestion_peliculas' %}>Administrar Pelí­culas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={% url 'gestion_usuarios' %} >Administrar Usuarios</a>
                    </li>
                    {% endif %}
                </ul>


                <form class="d-flex py-2">
                    <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">

                </form>

                <div class="dropdown d-flex text-end py-2 ">
                    <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg-end text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Ajustes</a></li>
                        <li><a class="dropdown-item" href="#">Perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href={% url 'logout' %}>Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    
    <div class="container-lg">
        
        <p class="fs-5 fw-bold">{% block titulo %} Lista de Usuarios {% endblock %}</p>
        
    </div>
    

    <!--TABLA USUARIOS-->
    
    <div class="container-lg table-responsive mb-3">
        {% block tabla %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                <tr>
                    <th scope="row">{{u.id}}</th>
                    <td>{{u.username}}</td>
                    <td>{{u.email}}</td>
                    <td>
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Editar</button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li><a class="dropdown-item" href={% url 'modificar_usuario' %}>Modificar</a></li>
                          <li><a class="dropdown-item" href={% url 'eliminar_usuario' u.id %}>Eliminar</a></li>
                        </ul>
                    </td>  
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </div>


    
    <div class="container-lg ">
        
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            {% block boton %} Añadir usuario {% endblock%}
        </button>
        
    </div>


    <!-- Modal -->
    {% block modal %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Añadir Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-lg d-flex justify-content-center">
                        <form action={% url 'gestion_usuarios' %} method="post" class="d-md-inline-block w-100 fw-bold">
                            {% csrf_token %}
                            <label class="form-label">Nombre usuario</label>
                            <input class="form-control border mb-3" name="nombre" type="search" placeholder="Nombre usuario"
                                aria-label="Search">
                            <label class="form-label">Contraseña</label>
                            <input class="form-control mb-3" name="contraseña" type="password" placeholder="Contraseña"
                                aria-label="Search">
                            <label class="form-label">Correo electrónico</label>
                            <input class="form-control mb-3" name="correo" type="search" placeholder="Correo electrónico"
                                aria-label="Search">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                         </div>    
                        </form>

                    </div>
                </div>
               
                <!--Aqui iría el modal-footer quitar si no hace falta que esté aquí-->
            </div>
        </div>
    </div>
    {% endblock %}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

</body>

</html>