
{% extends "myappVideoClub/gestion_usuarios.html" %}


{% block titulo %}Lista de Películas{% endblock %}




<!--TABLA PELÍCULAS-->

{% block tabla %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Título</th>
            <th scope="col">Año</th>
            <th scope="col">Director</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>@fat</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
        </tr>
    </tbody>
</table>
{% endblock %}

<!--MODAL AÑADIR PELICULA-->

<!-- Button trigger modal -->


{% block boton %}
Añadir película
{% endblock %}




<!-- Modal -->
{% block modal %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Añadir Película</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-lg d-flex justify-content-center">
                    <form class="d-md-inline-block w-100 fw-bold">
                        <label class="form-label">Nombre película</label>
                        <input class="form-control border mb-3" type="search" placeholder="Nombre película"
                            aria-label="Search">
                        <label class="form-label">URL película</label>
                        <input class="form-control mb-3" type="search" placeholder="URL película" aria-label="Search">
                        <label class="form-label">Descripción</label>
                        <input class="form-control mb-3" type="search" placeholder="Descripción" aria-label="Search">
                        <label class="form-label">Año</label>
                        <input class="form-control mb-3" type="search" placeholder="Año" aria-label="Search">
                        <label class="form-label">Director</label>
                        <input class="form-control mb-3" type="search" placeholder="Director" aria-label="Search">
                        <label class="form-label">Reparto</label>
                        <input class="form-control mb-3" type="search" placeholder="Reparto" aria-label="Search">
                        <label class="form-label">URL de la portada</label>
                        <input class="form-control mb-3" type="search" placeholder="URL de la portada"
                            aria-label="Search">
                        <label class="form-label">Valoración</label>
                        <input class="form-control mb-3" type="search" placeholder="Valoración" aria-label="Search">


                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}