<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/normalize.css">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <style>
        body {

            background-image: url("../../imgs/3d-glasses-with-popcorns-clapperboard-concrete-backdrop.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;
        }
    </style>
    <title>Shitflix Login</title>





</head>



<body>

    <!--Titulo-->
    <div class="container-fuid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8 rounded-3 mb-5 text-warning" style="background: rgba(0, 0, 0, 0.7);">
                <h1 class="text-uppercase text-center">Shitflix</h1>
            </div>
        </div>


    </div>

    <!--Formulario-->
    <div class="container-fluid">

        <div class="row justify-content-center  mb-5 ">
            <div class="col-8 col-lg-4 col-md-6 col-sm-8 text-light rounded-3 p-5 mb-5"
                style="background: rgba(0, 0, 0, 0.7);">
                <form>

                    <h1 class="mb-3">Iniciar Sesión</h1>

                    <div class="form-floating text-dark mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Usuario">
                        <label for="floatingPassword">Usuario</label>
                    </div>


                    <div class="form-floating text-dark mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                        <label for="floatingPassword">Contraseña</label>
                    </div>

                    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Iniciar Sesión</button>



                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Recuérdame
                        </label>
                    </div>


                    <a href="#" class="link-info text-decoration-none">Olvidaste la contraseña?</a>


                    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017–2021</p>
                </form>
            </div>

        </div>



    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>