
 body {

    background-image: url("../imgs/3d-glasses-with-popcorns-clapperboard-concrete-backdrop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
